<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>{{ page_title }}</title>
    
    {% comment %} Font preloading {% endcomment %}
    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% comment %} CSS Loading {% endcomment %}
    {% render 'css-variables' %}
    
    {{ 'base.css' | asset_url | stylesheet_tag }}
    
    {% if template contains 'product' or template contains 'collection' or template contains 'search' or template == 'index' %}
      {{ 'product-card.css' | asset_url | stylesheet_tag }}
    {% endif %}
    
    {% if template contains 'product' and template != 'collection' %}
      {{ 'product.css' | asset_url | stylesheet_tag }}
    {% elsif template contains 'cart' %}
      {{ 'cart.css' | asset_url | stylesheet_tag }}
    {% endif %}
    
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}

    {% comment %} SEO Meta Tags {% endcomment %}
    {% render 'seo-meta-tags' %}
    
    {% comment %} Shopify required {% endcomment %}
    {{ content_for_header }}
    
    {% comment %} Structured Data {% endcomment %}
    {% render 'schema-org' %}
  </head>

  <body class="template-{{ template.name | handle }}{% if customer %} customer-logged-in{% endif %}{% if cart.item_count > 0 %} cart-has-items{% endif %}">
    
    {% comment %} Skip to content (invisible jusqu'à focus) {% endcomment %}
    <a href="#main-content" class="skip-to-content">Passer au contenu</a>
    
    {% section 'header' %}

    <main id="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
